.resources__logo {
  list-style-type: none;
  width: 270px;
  height: 38px;
  object-fit: contain;
  object-position: center;
  transition: opacity .5s ease;
}
  .resources__logo:hover {
  opacity: .6;
}